<div>
    <a href="/parkings" routerLink="/parkings">
        <img class="ImgAcceuil" src="../../assets/Image_du_site/acceuil_2.jpg" alt="Description"/>
    </a>
</div>


<div class="definition_paragraphe">

    <h1 style="font-family: cursive;text-align: center;"><b>What is Free-Parkings ?</b></h1>
    <h3 style="font-family: cursive;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu pellentesque enim. 
        Donec quis odio ipsum. Etiam condimentum, enim sit amet euismod interdum, sem arcu vehicula
        massa, sed interdum elit neque ac dolor. Proin facilisis nec dui et eleifend. Praesent ligula
        ligula, varius quis arcu non, feugiat viverra lacus. Donec laoreet ornare purus, sed eleifend
        odio auctor quis. In nec venenatis enim, auctor interdum augue. Quisque condimentum vitae lorem 
        in rutrum. Duis justo est, porttitor sit amet malesuada vitae, tristique vel leo.
    </h3>

</div>


<div>
    <img class="ImgService" src="../../assets/Image_du_site/Offre_de_service.png" alt="Description"/>
</div>
